@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #00488d;
  --color-primary-container: #005fb8;
  --color-on-primary: #ffffff;
  --color-secondary: #006e25;
  --color-tertiary: #00542a;
  --color-surface: #f8f9fa;
  --color-surface-container: #edeeef;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #d9dadb;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #424752;
  --color-outline: #727783;
  --color-outline-variant: #c2c6d4;
}